  @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,400;1,300;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script';
}

canvas {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
}

input{
    font-family: 'Dancing Script';
    font-size: 23px;
    position: absolute;
    font-weight: 700;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    z-index: 100;
}
